<section class="resume-section p-3 p-lg-5 d-flex justify-content-center align-items-center animated fadeIn"
  id="experience">
  <div class="w-100">
    <h2>Intereses</h2>
    <hr>
    <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
      <div class="resume-content">
        <p>Disfruto de leer novelas de misterio y fantasia. Paso mi tiempo libre aprendiendo acerca de ebanisteria,
          construcción o plomeria, me gusta investigar y observar videos de este tipo.
          Tambien dedico mi tiempo a investigar sobre nuevas tecnologias que
          aparecen continuamente, especialmente en el área front-end y puedan contribuir a mi crecimiento profesional y
          personal.
        </p>
      </div>
    </div>
  </div>
</section>