<section class="resume-section p-3 p-lg-5 d-flex justify-content-center align-items-center animated fadeIn"
  id="experience">
  <div class="w-100">
    <h2>{{ 'main.experience' | translate }}</h2>
    <hr>
    <div *ngFor="let exp of experiences"
      class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
      <div class="resume-content">
        <h3 class="mb-0">{{ exp.jobPosition }}</h3>
        <div class="subheading mb-3">{{ exp.company }}</div>
        <p *ngFor="let text of exp.desc">{{ text }}</p>
      </div>
      <div class="resume-date text-md-right">
        <span class="text-primary">{{ exp.start }} - {{ exp.end }}</span>
      </div>
    </div>
  </div>
</section>