<section class="resume-section p-3 p-lg-5 d-flex align-items-center animated fadeIn" id="education">
  <div class="w-100">
    <h2>Educación</h2>
    <hr>
    <div class="resume-item d-flex flex-column flex-md-row justify-content-between">
      <div class="resume-content">
        <h3 class="mb-0">Servicio Nacional de Aprendizaje - SENA</h3>
        <div class="subheading mb-3">Tecnologia en Análisis y Desarrollo de Sistemas</div>
      </div>
      <div class="resume-date text-md-right">
        <span class="text-primary">Septiembre 2016 - Septiembre 2018</span>
      </div>
    </div>

  </div>
</section>