<section class="resume-section p-3 p-lg-5 d-flex align-items-center animated fadeIn" id="about">
  <div class="w-100">
    <h1 class="mb-0">Carlos
      <span class="text-primary">Benavides</span>
    </h1>
    <div class="subheading mb-5">Palmira - Valle Del Cauca · (316) 649-5876 ·
      <a href="mailto:1992cab@gmail.com">1992cab@gmail.com</a>
    </div>
    <p class="lead mb-5">{{ 'about.text' | translate }}</p>
    <div class="social-icons">
      <a href="{{ element.url }}{{ element.path }}/" target="_blank" *ngFor="let element of sharedElements">
        <i class="{{ element.icon }}"></i>
      </a>
    </div>
  </div>
</section>