<section class="resume-section p-3 p-lg-5 d-flex align-items-center animated fadeIn" id="projects">
  <div class="w-100">
    <h2>Proyectos Personales</h2>
    <hr>
    <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-4">
      <div class="resume-content">
        <div>
          <div class="subheading mb-0 d-inline pr-3">Formularios Dinámicos</div>
          <a class="pr-3" href="https://github.com" target="_blank">
            Fuente
          </a>
          <a class="mb-3" href="https://github.com" target="_blank">
            Demo
          </a>
        </div>
        <p class="mb-0">Aplicación WEB centrada a la creación de formularios y obtención de ellos mediante un codigo QR.
        </p>
      </div>
    </div>

    <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-4">
      <div class="resume-content">
        <div>
          <div class="subheading mb-0 d-inline pr-3">Serconfil</div>
          <a class="mb-3" href="https://github.com" target="_blank">
            Enlace
          </a>
        </div>
        <p class="mb-0">Página WEB orientada a la prestación de servicios contables.</p>
      </div>
    </div>

    <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-4">
      <div class="resume-content">
        <div>
          <div class="subheading mb-0 d-inline pr-3">Youtube App</div>
          <a class="pr-3" href="https://github.com" target="_blank">
            Fuente
          </a>
          <a class="mb-3" href="https://github.com" target="_blank">
            Demo
          </a>
        </div>
        <p class="mb-0">Proyecto de estudio para comprender el uso de la API de Youtube.</p>
      </div>
    </div>

    <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-4">
      <div class="resume-content">
        <div>
          <div class="subheading mb-0 d-inline pr-3">Spotify App</div>
          <a class="pr-3" href="https://github.com" target="_blank">
            Fuente
          </a>
          <a class="mb-3" href="https://github.com" target="_blank">
            Demo
          </a>
        </div>
        <p class="mb-0">Proyecto de estudio para comprender el uso de la API de Spotify.</p>
      </div>
    </div>
  </div>
</section>